/* -------------latest news--------------- */
.latest_news {
    margin: 80px 16px;
    color: var(--primecolor);
}

@media screen and (min-width: 64em){
    .latest_news {
        border: 1px solid var(--linegray);
        padding: 12px 30px;
        width: calc(100% - 80px - 80px);
        margin: 80px auto 88px auto; 
        display: flex;
    }
}
.news_card_wrap {
    width: 100%;
}
@media screen and (min-width: 64em){
    .news_card_wrap {
        width: 84%;
        margin-left: auto;
    }
}

.latest_news h2 {
    font-size: 1.5rem;
    color: #0c308e;
    font-weight: 700;
    margin-bottom: 28px;
    letter-spacing: .04167em;
    
}
@media screen and (min-width: 64em){
    .latest_news h2 {
        display: block;
        width: 260px;
        height: fit-content;
        margin-top: 20px;
    }
}

.latest_news .news_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 15px;
    padding-bottom: 13px;
}
@media screen and (min-width: 64em){
    .latest_news .news_card {
        width: 100%;
        padding: 18px 0px ;
    }
    .latest_news .news_card:last-child {
        border: none;
    }
}

.contents .date_announce {
    margin-bottom: 8px;
}
@media screen and (min-width: 64em){
    .latest_news .contents {
        margin-left: 20px;
    }
}

.latest_news .contents p {
    font-size: 16px;
    line-height: 1.6;
}

.news_card .date_announce {
    color: #00146e;
    margin-bottom: 2px;
}

.news_card .title {
    color: #444;
}

.news_card i {
    color: #0c308e;
    font-size: 18px;
    margin-right: 14px;
}
@media screen and (min-width: 64em){
    .news_card i {
        margin-right: 36px;
    }
}