/* -------------flight_search--------------- */
.flight_search {
    width: 100%;
    padding-top: 325px;
    background-image: linear-gradient(to bottom, #ffffff00 35%, #4d9fdd 45%), url(images/bg_footer01_sp.webp), url(images/bg_footer02.webp);
    background-position: center center, top center, top 1.5625rem right 0.9375rem;
    background-size: auto, cover, 16.25rem;
    background-repeat: no-repeat, no-repeat;
}
@media screen and (min-width: 768px){
    .flight_search {
    padding-top: 325px;
    background-image: linear-gradient(to bottom, #ffffff00 50%, #82C5F8 65%), url(images/bg_footer02.webp), url(images/bg_footer01_pc.webp) ;
    background-position:  center center, top 7.4375rem right 25%, top center;
    background-size:  auto, 498px, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    }
}


.flight_search .btn {
    display: block;
    background-color: #d54100;
    margin: 0px 16px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    padding: 22px 0px;
    line-height: 1.3;
    margin-bottom: 42px;
}
@media screen and (min-width: 768px){
    .flight_search .btn {
    max-width: 620px ;
    margin: auto;
    margin-bottom: 42px;
    }
}

.flight_search .btn i {
    margin-right: 16px;
    font-size: 1.5rem;
}

.flight_search .banner_mb {
    width: 100%;
}
@media screen and (min-width: 1024px){
    .flight_search .banner_mb {
        display: none;
    }
}


.flight_search .banner_mb img {
    width: 100%;
}

.flight_search .banner_pc {
    max-width: 1280px;
    margin: auto;
}
.flight_search .banner_pc img {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 78px;
}
@media screen and (max-width: 1023px){
    .flight_search .banner_pc {
        display: none;
        margin: auto;
        
}
}
