
body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #444;
    position: relative;
    
}


:root {
    --primecolor: #00146e;
    --linegray: #d8d8d8;
}

a {
    text-decoration: none;
}

/* RWD size
1024
768
375
*/

/* -----tileline for headlines */

.tiltline {
    position: relative;
    margin-bottom: 1.875rem;
    padding: 46px 0;
    text-align: center;
    letter-spacing: .04167em;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: #00146e;
}
@media screen and (min-width: 64em){
    .tiltline {
        font-size: 2rem;
        padding: 50px 0;
        margin-bottom: 60px;
}
}

.tiltline::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    width: 2.1875rem;
    border-top: 0.5px solid var(--primecolor);
    transform: translate(112%, -42px) rotate(-60deg);
}

.tiltline::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.1875rem;
    border-top: 0.5px solid var(--primecolor);
    transform: translate(-112%, 42px) rotate(-60deg);
}
@media screen and (min-width: 64em){
    .tiltline::before, .tiltline::after {
        width: 3.125rem;
    }
    .tiltline::before {
        transform: translate(-86%, 48px) rotate(-60deg);
    }
    .tiltline::after {
        transform: translate(84%, -48px) rotate(-60deg);
    }
}

button {
    cursor: pointer;
}































